[submodule "reference/Donguri-iOS"]
	path = reference/Donguri-iOS
	url = https://github.com/iWumboUWumbo2/Donguri.git
[submodule "third_party/hoshidicts-kotlin-bridge"]
	path = third_party/hoshidicts-kotlin-bridge
	url = https://github.com/HuangAntimony/hoshidicts-kotlin-bridge.git
	branch = codex/hoshidicts-multilingual-bridge
[submodule "reference/Hoshi-Reader-Android"]
	path = reference/Hoshi-Reader-Android
	url = https://github.com/HuangAntimony/Hoshi-Reader-Android.git
	# Reading material, not a build input. Left uninitialised by default
	# because its own hoshidicts submodule is pinned to a commit that has
	# been force-pushed off that remote, which fails a recursive clone.
	update = none
